<h1>Practice a question</h1>

<p id="question_space"><%= @initquestion %></p>
<br/>
<textarea id="answer_space" rows="10" cols="50"></textarea>
<br/><br/>

<br/><br/>
<p id="message_space"></p>
<br/><br/>
<%= form_for :answerform do |f| %>
<%= f.hidden_field :questionnum, :value => 1%>
<%= f.text_area :answer %><br/>
<%= f.submit "Ruby Check" %>
<% end %>