<h1>Practice a question</h1>
<% if @examplenum == @numquestions %>
<p> Question completed! Try another question </p>
<%= link_to "Home page",root_path %>
<% else %>
<p id="question_space"><%= @initquestion %></p>
<br/>

<%= form_for :answerform, remote: true do |f| %>
<%= f.hidden_field :questionnum, :value => @question.id%>
<%= f.hidden_field :examplenum, :value => @examplenum%>
<%= f.text_area :answer %><br/>
<%= f.submit "Check!", id: "check_button" %>

<% end %>
<%= link_to "Continue", practice_path(:question => @question.id, :example => @examplenum.to_i + 1), id: "next_link",style: "display: none"%>
<br/><br/>
<div id="display_result"></div>
<% end %>